.container {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);

  grid-template-areas:
    "styles-main styles-main sidebar sidebar"
    "tiket-sold soled sidebar sidebar"
    "monthly this-week sidebar sidebar";
}

.tiket-sold,
.soled,
.the-week,
.monthly,
.this-week {
  background-color: #272e35;
  border-radius: 17px;
}

.tiket-sold {
  grid-area: tiket-sold;
}

.soled {
  grid-area: soled;
}

.monthly {
  grid-area: monthly;
}

.the-week {
  grid-area: the-week;
}

@media screen and (max-width: 768px) {
  .monthly {
    display: none;
  }
  .container {
    grid-template-areas:
      "styles-main styles-main styles-main styles-main"
      "tiket-sold tiket-sold tiket-sold tiket-sold"
      "soled soled soled soled"
      "this-week this-week this-week this-week"
      "sidebar sidebar sidebar sidebar ";
  }
}
