.container-grid {
  display: grid;
  /* grid-template-columns: 150px 800px 400px; */
  /* width: 90%; */
  grid-gap: 50px;
  height: 120px;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "container-menu  container-elements  container-notification";
  grid-template-rows: repeat(1, auto);

  @media (max-width: 768px) {
    height: 73px;
    .container {
      grid-template-areas:
        "styles-main styles-main styles-main styles-main"
        "container-tiket-sold container-tiket-sold container-tiket-sold container-tiket-sold"
        "soled soled soled soled"
        "this-week this-week this-week this-week"
        "sidebar sidebar sidebar sidebar ";
    }
  }
}

.container-menu {
  margin-left: 20px;
  display: flex;
  grid-area: container-menu;
  @media (max-width: 768px) {
    align-items: center;
  }
}

.styles-logo {
  @media (max-width: 768px) {
    width: 45px;
    height: 34px;
  }
}

.container-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 752px;
  height: 56px;
  gap: 20px;
  @media (max-width: 768px) {
    display: none;
  }
}

.container-notification {
  display: flex;
  gap: 10px;
  margin-right: 50px;
}

#icon-chat {
  @media (max-width: 768px) {
    display: none;
  }
}

#icon-gift {
  @media (max-width: 768px) {
    display: none;
  }
}

.container-users {
  display: flex;
  align-items: center;
  gap: 5px;
}

.style-separator {
  width: 1px;
  height: 56px;
  background-color: #24292e;
  margin-left: 16px;
  margin-right: 16px;
  @media (max-width: 768px) {
    display: none;
  }
}

.container-profile {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}

.style-name-user {
  @media (max-width: 768px) {
    display: none;
  }
}

.container-dashboard {
  display: flex;
  align-items: center;
  height: 63px;
  left: 0px;
  top: 120px;
  background-color: #2d3339;
  @media (max-width: 768px) {
    display: none;
  }
}

.style-font {
  color: #13b497;
  margin-left: 60px;
}
