.container-search {
  width: 752px;
  height: 56px;
  background: #1c2126;
  border: 1px solid #2f363d;
  box-shadow: 0px 11px 23px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.style-input {
  background-color: #1c2126;
  border: none;
  width: 97px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  caret-color: #13b497;
  margin-left: 10px;
}

.style-icon-search {
  width: 23.99px;
  height: 24px;
  left: calc(50% - 23.99px / 2 + 45px);
  top: 48px;
  color: #a4a4a4;
  margin-right: 10px;
}

.container-secundary {
  height: 61.29px;
  left: calc(50% - 807.78px / 2 - 456.89px);
  top: 330.51px;

  background: #20262d;
  box-shadow: 0px 14.7092px 28.1927px rgba(62, 73, 84, 0.04);
  border-radius: 17.1608px;
}

.input-secundary {
  background-color: #1c2126;
  border: none;
}
